
<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>Site administration | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">



    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">


<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" dashboard"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/admin/">Django administration</a></h1>

        </div>


        <div id="user-tools">

                Welcome,
                <strong>thisal</strong>.



                    <a href="/">View site</a> /






                <a href="/admin/password_change/">Change password</a> /

                <a href="/admin/logout/">Log out</a>

        </div>



    </div>
    <!-- END Header -->







    <!-- Content -->
    <div id="content" class="colMS">

        <h1>Site administration</h1>

<div id="content-main">



        <div class="app-auth module">
        <table>
        <caption>
            <a href="/admin/auth/" class="section" title="Models in the Authentication and Authorization application">Authentication and Authorization</a>
        </caption>

            <tr class="model-group">

                <th scope="row"><a href="/admin/auth/group/">Groups</a></th>



                <td><a href="/admin/auth/group/add/" class="addlink">Add</a></td>




                <td><a href="/admin/auth/group/" class="changelink">Change</a></td>


            </tr>

            <tr class="model-user">

                <th scope="row"><a href="/admin/auth/user/">Users</a></th>



                <td><a href="/admin/auth/user/add/" class="addlink">Add</a></td>




                <td><a href="/admin/auth/user/" class="changelink">Change</a></td>


            </tr>

        </table>
        </div>

        <div class="app-CreateDataAnnotationTask module">
        <table>
        <caption>
            <a href="/admin/CreateDataAnnotationTask/" class="section" title="Models in the Createdataannotationtask application">Createdataannotationtask</a>
        </caption>

            <tr class="model-dataannotation">

                <th scope="row"><a href="/admin/CreateDataAnnotationTask/dataannotation/">Data annotations</a></th>



                <td><a href="/admin/CreateDataAnnotationTask/dataannotation/add/" class="addlink">Add</a></td>




                <td><a href="/admin/CreateDataAnnotationTask/dataannotation/" class="changelink">Change</a></td>


            </tr>

            <tr class="model-dataclass">

                <th scope="row"><a href="/admin/CreateDataAnnotationTask/dataclass/">Data classs</a></th>



                <td><a href="/admin/CreateDataAnnotationTask/dataclass/add/" class="addlink">Add</a></td>




                <td><a href="/admin/CreateDataAnnotationTask/dataclass/" class="changelink">Change</a></td>


            </tr>

            <tr class="model-task">

                <th scope="row"><a href="/admin/CreateDataAnnotationTask/task/">Tasks</a></th>



                <td><a href="/admin/CreateDataAnnotationTask/task/add/" class="addlink">Add</a></td>




                <td><a href="/admin/CreateDataAnnotationTask/task/" class="changelink">Change</a></td>


            </tr>

        </table>
        </div>

        <div class="app-CreateDataGenerationTask module">
        <table>
        <caption>
            <a href="/admin/CreateDataGenerationTask/" class="section" title="Models in the Createdatagenerationtask application">Createdatagenerationtask</a>
        </caption>

            <tr class="model-datageneration">

                <th scope="row"><a href="/admin/CreateDataGenerationTask/datageneration/">Data generations</a></th>



                <td><a href="/admin/CreateDataGenerationTask/datageneration/add/" class="addlink">Add</a></td>




                <td><a href="/admin/CreateDataGenerationTask/datageneration/" class="changelink">Change</a></td>


            </tr>

            <tr class="model-task">

                <th scope="row"><a href="/admin/CreateDataGenerationTask/task/">Tasks</a></th>



                <td><a href="/admin/CreateDataGenerationTask/task/add/" class="addlink">Add</a></td>




                <td><a href="/admin/CreateDataGenerationTask/task/" class="changelink">Change</a></td>


            </tr>

        </table>
        </div>

        <div class="app-DoDataAnnotationTask module">
        <table>
        <caption>
            <a href="/admin/DoDataAnnotationTask/" class="section" title="Models in the Dodataannotationtask application">Dodataannotationtask</a>
        </caption>

            <tr class="model-dataannotationresult">

                <th scope="row"><a href="/admin/DoDataAnnotationTask/dataannotationresult/">Data annotation results</a></th>



                <td><a href="/admin/DoDataAnnotationTask/dataannotationresult/add/" class="addlink">Add</a></td>




                <td><a href="/admin/DoDataAnnotationTask/dataannotationresult/" class="changelink">Change</a></td>


            </tr>

        </table>
        </div>

        <div class="app-DoDataGenerationTask module">
        <table>
        <caption>
            <a href="/admin/DoDataGenerationTask/" class="section" title="Models in the Dodatagenerationtask application">Dodatagenerationtask</a>
        </caption>

            <tr class="model-datagenerationresult">

                <th scope="row"><a href="/admin/DoDataGenerationTask/datagenerationresult/">Data generation results</a></th>



                <td><a href="/admin/DoDataGenerationTask/datagenerationresult/add/" class="addlink">Add</a></td>




                <td><a href="/admin/DoDataGenerationTask/datagenerationresult/" class="changelink">Change</a></td>


            </tr>

        </table>
        </div>


</div>


<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>Recent actions</h2>
        <h3>My actions</h3>



            <ul class="actionlist">

            <li class="addlink">

                    <a href="/admin/CreateDataGenerationTask/datageneration/14/change/">Inside</a>

                <br>

                    <span class="mini quiet">Data generation</span>

            </li>

            <li class="addlink">

                    <a href="/admin/CreateDataGenerationTask/datageneration/13/change/">Healthy</a>

                <br>

                    <span class="mini quiet">Data generation</span>

            </li>

            <li class="addlink">

                    <a href="/admin/CreateDataGenerationTask/datageneration/12/change/">Funny</a>

                <br>

                    <span class="mini quiet">Data generation</span>

            </li>

            <li class="addlink">

                    <a href="/admin/CreateDataGenerationTask/datageneration/11/change/">First</a>

                <br>

                    <span class="mini quiet">Data generation</span>

            </li>

            <li class="addlink">

                    <a href="/admin/CreateDataGenerationTask/datageneration/10/change/">Few</a>

                <br>

                    <span class="mini quiet">Data generation</span>

            </li>

            <li class="addlink">

                    <a href="/admin/CreateDataGenerationTask/datageneration/9/change/">Fall</a>

                <br>

                    <span class="mini quiet">Data generation</span>

            </li>

            <li class="addlink">

                    <a href="/admin/CreateDataGenerationTask/datageneration/8/change/">External</a>

                <br>

                    <span class="mini quiet">Data generation</span>

            </li>

            <li class="addlink">

                    <a href="/admin/CreateDataGenerationTask/datageneration/7/change/">Fast</a>

                <br>

                    <span class="mini quiet">Data generation</span>

            </li>

            <li class="addlink">

                    <a href="/admin/CreateDataGenerationTask/datageneration/6/change/">End</a>

                <br>

                    <span class="mini quiet">Data generation</span>

            </li>

            <li class="addlink">

                    <a href="/admin/CreateDataGenerationTask/datageneration/5/change/">Center</a>

                <br>

                    <span class="mini quiet">Data generation</span>

            </li>

            </ul>

    </div>
</div>

        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
