<!DOCTYPE html>
<html lang="en-us" >
<head>
    <title>Data Annotation Task</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">
    <style>
.button {
  background-color:#D3D3D3; /* Grey */
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 6px;
}
.button1 {background-color:#D00000;
color: white;}
</style>
</head>
<body class=" dashboard" data-admin-utc-offset="0">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name">Crowd Sourced Data Annotation Platform</h1>
        </div>
        <div id="user-tools">
        </div>
    </div>
    <!-- END Header -->
    <div class="breadcrumbs">
        <a href="/MyTasks/"> My Tasks </a>
        &rsaquo;<a href="/DoDataAnnotationTask/"> My Data Annotation Tasks </a>
        &rsaquo; <a href="/DoDataAnnotationTask/Task?task_id={{task_object.id}}">{{task_object.Title}}</a>
        &rsaquo; <a href="/DoDataAnnotationTask/ViewMyAnnotations?task_id={{task_object.id}}">My Contributions</a>
        &rsaquo; Annotated Data Instance(id={{annotated_data_instance.id}})
    </div>
    <!-- Content -->
    <div id="content" class="colMS">
        <h1><strong>Task Title : {{task_object.Title}}</strong></h1>
        <h1><strong>Task Description : {{task_object.Description}}</strong></h1>
        <div id="content-main">
            <div class="app-auth module">
                <h1><strong>Data Instance</strong></h1>
                {% load static %}
                <img src="{{ data_instance.DataInstance.url }}" alt="{{ data_instance.DataInstance.url }}"><br>
                <h4>Data Classes</h4>
                <form action="Change" method="POST">
                    {% csrf_token %}
                    {% for data_class in data_classes %}
                    {% if annotated_data_instance.ClassName == data_class.ClassName %}
                    <input id="{{data_class.ClassName}}" type="radio"  value="{{data_class}}" name="data_class"  checked>
                    {% else %}
                    <input id="{{data_class.ClassName}}" type="radio"  value="{{data_class}}" name="data_class" unchecked>
                    {% endif %}
                    <lable for="{{data_class.ClassName}}">{{data_class.ClassName}}</lable><br>
                    {% endfor %}
                    <input type="hidden" name="annotated_data_instance_id" value="{{annotated_data_instance.id}}">
                    <input class="button SaveButtonStyle" type="Submit" value="Save">
                </form>
                <!--button class="button button1" onclick="window.location.href = '/DoDataAnnotationTask/ViewMyAnnotations/Delete?annotated_data_instance_id={{annotated_data_instance.id}}'" class="button DeleteButtonStyle">Delete</button-->
            </div>
        </div>
        <br class="clear">
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->
</body>
</html>