<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Task Title : {{task_object.Title}}</h3>
    <h3>Task Description : {{task_object.Description}}</h3>
    {% if annotated_data_instances_available %}
        {% for annotated_data_instance in annotated_data_instances %}
            <p>Data Instance : {{annotated_data_instance.DataInstance}}</p>
            <p>Your Answer : {{annotated_data_instance.ClassName}}</p>
            <p>Last Update : {{annotated_data_instance.LastUpdate}}</p>
    <button onclick="window.location.href = '/DoDataAnnotationTask/ViewMyAnnotations/Change?annotated_data_instance_id={{annotated_data_instance.id}}'">Make a Change</button><br><hr>
        {% endfor %}
    {% else %}
         <h3>You haven't done any annotations</h3>
    {% endif %}

</body>
</html>

