<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        <style>
        .button {
          border: none;
          color: white;
          padding: 15px 30px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }

        .Blue {background-color: #008CBA;} /* Blue */
        .Red {background-color: #f44336;} /* Red */

    </style>
</head>
<body>
<h3>Are you sure?</h3>
<p>Are you sure you want to delete the data annotation result "DataAnnotationResult object {{annotated_data_instance_id}}"?</p>
<button onclick="window.location.href = '/DoDataAnnotationTask/ViewMyAnnotations/Delete?annotated_data_instance_id={{annotated_data_instance_id}}&last_confirmation=True'" class="Red">Yes, I'm sure</button>
<button onclick="window.location.href = '/DoDataAnnotationTask/ViewMyAnnotations/Delete?annotated_data_instance_id={{annotated_data_instance_id}}&last_confirmation=False'" class="Blue">No, take me back</button>
</body>
</html>