<!DOCTYPE html>

<html lang="en-us" >

<head>
    <title>Select annotation data set to change | Django site admin</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">
</head>
<body class=" app-CreateDataAnnotationTask model-annotationdataset change-list" data-admin-utc-offset="0">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/admin/">Django administration</a></h1>
        </div>
        <div id="user-tools">
            Welcome,
            <strong>thisal</strong>.
            <a href="/">View site</a> /
            <a href="/admin/password_change/">Change password</a> /
            <a href="/admin/logout/">Log out</a>
        </div>
    </div>
    <!-- END Header -->
    <div class="breadcrumbs">
        <a href="/admin/">Home</a>
        &rsaquo; <a href="/admin/CreateDataAnnotationTask/">Createdataannotationtask</a>
        &rsaquo; Annotation data sets
    </div>
    <!-- Content -->
    <div id="content" class="flex">
        <h1>Select annotation data set to change</h1>
        <div id="content-main">
            <ul class="object-tools">
                <li>
                    <a href="/admin/CreateDataAnnotationTask/annotationdataset/add/" class="addlink">
                        Add annotation data set
                    </a>
                </li>
            </ul>
            <div class="module" id="changelist">
                <form id="changelist-form" method="post" novalidate><input type="hidden" name="csrfmiddlewaretoken" value="PSoeJQM00MOYRMpxADQSaGSuBJ6yIL66lFsKAD7OjeHcUJntSfh5exEqrjQEihkx">
                    <div class="actions">
                        <label>Action: <select name="action" required>
                            <option value="" selected>---------</option>
                            <option value="delete_selected">Delete selected annotation data sets</option>
                        </select></label><input type="hidden" name="select_across" value="0" class="select-across">
                        <button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>
                        <span class="action-counter" data-actions-icnt="12">0 of 12 selected</span>
                    </div>
                    <div class="results">
                        <table id="result_list">
                            <thead>
                            <tr>
                                <th scope="col"  class="action-checkbox-column">
                                    <div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col"  class="column-__str__">
                                    <div class="text"><span>Annotation data set</span></div>
                                    <div class="clear"></div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="row1"><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="47" class="action-select"></td><th class="field-__str__"><a href="/admin/CreateDataAnnotationTask/annotationdataset/47/change/">/media/img/horse1.jfif</a></th></tr>
                            <tr class="row2"><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="46" class="action-select"></td><th class="field-__str__"><a href="/admin/CreateDataAnnotationTask/annotationdataset/46/change/">/media/img/elephant1.jfif</a></th></tr>
                            <tr class="row1"><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="45" class="action-select"></td><th class="field-__str__"><a href="/admin/CreateDataAnnotationTask/annotationdataset/45/change/">/media/img/dog2.jpeg</a></th></tr>
                            <tr class="row2"><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="44" class="action-select"></td><th class="field-__str__"><a href="/admin/CreateDataAnnotationTask/annotationdataset/44/change/">/media/img/dog1.jpeg</a></th></tr>
                            <tr class="row1"><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="43" class="action-select"></td><th class="field-__str__"><a href="/admin/CreateDataAnnotationTask/annotationdataset/43/change/">/media/img/cat2.jpeg</a></th></tr>
                            <tr class="row2"><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="42" class="action-select"></td><th class="field-__str__"><a href="/admin/CreateDataAnnotationTask/annotationdataset/42/change/">/media/img/cat1.jpeg</a></th></tr>
                            <tr class="row1"><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="41" class="action-select"></td><th class="field-__str__"><a href="/admin/CreateDataAnnotationTask/annotationdataset/41/change/">/media/img/wall2.jpeg</a></th></tr>
                            <tr class="row2"><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="40" class="action-select"></td><th class="field-__str__"><a href="/admin/CreateDataAnnotationTask/annotationdataset/40/change/">/media/img/wall1.jpeg</a></th></tr>
                            <tr class="row1"><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="39" class="action-select"></td><th class="field-__str__"><a href="/admin/CreateDataAnnotationTask/annotationdataset/39/change/">/media/img/van2.jpeg</a></th></tr>
                            <tr class="row2"><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="38" class="action-select"></td><th class="field-__str__"><a href="/admin/CreateDataAnnotationTask/annotationdataset/38/change/">/media/img/van1.jpeg</a></th></tr>
                            <tr class="row1"><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="37" class="action-select"></td><th class="field-__str__"><a href="/admin/CreateDataAnnotationTask/annotationdataset/37/change/">/media/img/car2.jpeg</a></th></tr>
                            <tr class="row2"><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="36" class="action-select"></td><th class="field-__str__"><a href="/admin/CreateDataAnnotationTask/annotationdataset/36/change/">/media/img/car1.jpeg</a></th></tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="paginator">
                        12 annotation data sets
                    </p>
                </form>
            </div>
        </div>
        <br class="clear">
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->
</body>
</html>
