{% extends "layout.html" %}
{% load static %}
{% block title %}Annotation task{% endblock %}
{% block style %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="shortcut icon" type="image/png" href="favicon.png">
  <style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
{% endblock %}
{% block body %}

<br>
<div class="card">
    <div class="card-header">My Contributions</div>
    {% if annotated_data_instances_available %}
    <div class="card-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th style="width: 25%">Data Instance</th>
                <th style="width: 25%">Your Answer</th>
                <th style="width: 25%">Last Update</th>
                <th style="width: 25%">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for annotated_data_instance in annotated_data_instances %}
            <tr>
                <td>{{annotated_data_instance.DataInstance}}</td>
                <td>{{annotated_data_instance.ClassID}}</td>
                <td>{{annotated_data_instance.LastUpdate}}(UTC)</td>
                <td><button onclick="window.location.href = '/DoTextDataAnnotationTask/ViewMyAnnotations/Change?annotated_data_instance_id={{annotated_data_instance.id}}'" type="button" class="btn btn-danger">Change answer</button></td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <h3>You haven't done any annotations</h3>
    {% endif %}
</div>
{% endblock %}