{% extends "createtask/base.html" %}
{% block container %}
<head>
    <title>Data Annotation Task</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">
</head>
<body class=" dashboard" data-admin-utc-offset="0" >
    <div id="content" class="colMS">
    <h class="alert alert-warning"> You have to complete this test before registering</h><br><br><br>
        <h1><strong>Task Title : {{task.title}}</strong></h1>
        <h1><strong>Task Description : {{task.description}}</strong></h1>
        <h1><strong>Instructions : {{task.instructions}}</strong></h1>
        <h1><strong>Task Type : {{task.taskType}}</strong></h1>
    </div>
        
            <form action="" method="POST">
                <div class="album py-5 bg-light">
                <div class="container">
                <div class="row">
                {%for data_instance in instance_list%}
                    <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                    <h1><strong>Data Instance</strong></h1>
                    {% load static %}
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src={{ data_instance.mediaData.url }} data-holder-rendered="true">
                    {% comment %} <img max-width="420" max-height="420" src="{{ data_instance.mediaData.url }}" alt="{{ data_instance.mediaData.url }}"><br> {% endcomment %}
                    <h4>Data Classes</h4>
                        {% csrf_token %}
                        {% for data_class in cateogary_list %}
                        <input type="radio" id="{{data_instance.id}}" name="{{data_instance.id}}" value="{{data_class.cateogaryTag}}" required>
                        <lable for="{{data_class.cateogaryTag}}">{{data_class.cateogaryName}}</lable><br>
                        {% endfor %}
                        <input type="hidden" name="DataInstance" value="{{data_instance.mediaData}}">
                        <input type="hidden" name="task_id" value="{{task_id}}">
                        <input type="hidden" name="user_id" value="{{user_id}}">
                        </div>
                        </div>
                {%endfor%}
                <input type="Submit" value="Submit Data Annotation" >
                </div>
                </div>
                </div>
            </form>

                

        <br class="clear">
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->
</body>
{% endblock %}
</html>