<!DOCTYPE html>
<html lang="en-us" >
<head>
    <title>My Tasks</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">
</head>
<body class=" dashboard" data-admin-utc-offset="0">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name">Crowd Sourced Data Annotation Platform</h1>
        </div>
    </div>
    <!-- END Header -->
    <div class="breadcrumbs">
        My Tasks
    </div>
    <!-- Content -->
    <div id="content" class="colMS">
        <h1><strong>My Tasks</strong></h1>
        <h1><strong>user_id : {{user_id}}</strong></h1>
        <div id="content-main">
            {% if user_text_data_annotation_tasks|length > 0 %}
            <div class="app-auth module">
                <table>
                    <caption>
                        Text Data Annotation Tasks
                    </caption>
                    {% for text_data_annotation_task in user_text_data_annotation_tasks %}
                    <tr class="{{text_data_annotation_task.id}}">
                        <th scope="row"><a href="/DoTextDataAnnotationTask/Task?task_id={{text_data_annotation_task.id}}">{{text_data_annotation_task.title}}</a></th>
                        <td></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
            {% if user_image_data_annotation_tasks|length > 0 %}
            <div class="app-auth module">
                <table>
                    <caption>
                        Image Data Annotation Tasks
                    </caption>
                    {% for image_data_annotation_task in user_image_data_annotation_tasks %}
                    <tr class="{{image_data_annotation_task.id}}">
                        <th scope="row"><a href="/DoDataAnnotationTask/Task?task_id={{image_data_annotation_task.id}}">{{image_data_annotation_task.title}}</a></th>
                        <td></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
            {% if user_text_data_generation_tasks|length > 0 %}
            <div class="app-CreateDataAnnotationTask module">
                <table>
                    <caption>
                        Text Data Generation Tasks
                    </caption>
                    {% for text_data_generation_task in user_text_data_generation_tasks %}
                    <tr class="{{text_data_generation_task.id}}">
                        <th scope="row"><a href="/DoDataGenerationTask/Task?task_id={{text_data_generation_task.id}}">{{text_data_generation_task.title}}</a></th>
                        <td></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
            {% if user_image_data_generation_tasks|length > 0 %}
            <div class="app-CreateDataAnnotationTask module">
                <table>
                    <caption>
                        Image Data Generation Tasks
                    </caption>
                    {% for image_data_generation_task in user_image_data_generation_tasks %}
                    <tr class="{{image_data_generation_task.id}}">
                        <th scope="row"><a href="/DoImageDataGenerationTask/Task?task_id={{image_data_generation_task.id}}">{{image_data_generation_task.title}}</a></th>
                        <td></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
        <br class="clear">
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->
</body>
</html>