{% extends "layout.html" %}
{% load static %}
{% block title %}Annotation task{% endblock %}
{% block style %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="shortcut icon" type="image/png" href="favicon.png">
  <style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
{% endblock %}
{% block body %}

<br>
{% if user_text_data_annotation_tasks|length > 0 %}
<div class="card">
    <div class="card-header">Text Data Annotation Tasks</div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th style="width: 15%">Title</th>
                <th style="width: 75%">Description</th>
                <th style="width: 10%">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for text_data_annotation_task in user_text_data_annotation_tasks %}
            <tr>
                {% if text_data_annotation_task.status == "completed" %}
                <td><a href="/DoTextDataAnnotationTask/ViewMyAnnotations?task_id={{text_data_annotation_task.id}}">{{text_data_annotation_task.title}}</a></td>
                {% else %}
                <td><a href="/DoTextDataAnnotationTask/Task?task_id={{text_data_annotation_task.id}}">{{text_data_annotation_task.title}}</a></td>
                {% endif %}
                {% if text_data_annotation_task.description|length > 140 %}
                <td>
                    <style>
                        #more{{text_data_annotation_task.id}} {display: none;}
                    </style>
                    <p>{{text_data_annotation_task.description1}}
                        <span id="dots{{text_data_annotation_task.id}}">...</span>
                        <span id="more{{text_data_annotation_task.id}}">{{text_data_annotation_task.description2}}</span>
                    </p>
                    <button class="btn btn-info" onclick="myFunction({{text_data_annotation_task.id}})" id="myBtn{{text_data_annotation_task.id}}">Read more</button>
                </td>
                {% else %}
                <td>{{text_data_annotation_task.description}}</td>
                {% endif %}
                {% if text_data_annotation_task.status == "new" %}
                <td><span class="badge badge-primary">New</span></td>
                {% elif text_data_annotation_task.status == "inprogress" %}
                <td><span class="badge badge-success">In Progress</span></td>
                {% elif text_data_annotation_task.status == "completed" %}
                <td><span class="badge badge-danger">Completed</span></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

<br>
{% if user_image_data_annotation_tasks|length > 0 %}
<div class="card">
    <div class="card-header">Image Data Annotation Tasks</div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th style="width: 15%">Title</th>
                <th style="width: 75%">Description</th>
                <th style="width: 10%">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for image_data_annotation_task in user_image_data_annotation_tasks %}
            <tr>
                {% if image_data_annotation_task.status == "completed" %}
                <td><a href="/DoDataAnnotationTask/ViewMyAnnotations?task_id={{image_data_annotation_task.id}}">{{image_data_annotation_task.title}}</a></td>
                {% else %}
                <td><a href="/DoDataAnnotationTask/Task?task_id={{image_data_annotation_task.id}}">{{image_data_annotation_task.title}}</a></td>
                {% endif %}
                {% if image_data_annotation_task.description|length > 140 %}
                <td>
                    <style>
                        #more{{image_data_annotation_task.id}} {display: none;}
                    </style>
                    <p>{{image_data_annotation_task.description1}}
                        <span id="dots{{image_data_annotation_task.id}}">...</span>
                        <span id="more{{image_data_annotation_task.id}}">{{image_data_annotation_task.description2}}</span>
                    </p>
                    <button class="btn btn-info" onclick="myFunction({{image_data_annotation_task.id}})" id="myBtn{{image_data_annotation_task.id}}">Read more</button>
                </td>
                {% else %}
                <td>{{image_data_annotation_task.description}}</td>
                {% endif %}
                {% if image_data_annotation_task.status == "new" %}
                <td><span class="badge badge-primary">New</span></td>
                {% elif image_data_annotation_task.status == "inprogress" %}
                <td><span class="badge badge-success">In Progress</span></td>
                {% elif image_data_annotation_task.status == "completed" %}
                <td><span class="badge badge-danger">Completed</span></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

<br>
{% if user_text_data_generation_tasks|length > 0 %}
<div class="card">
    <div class="card-header">Text Data Generation Tasks</div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th style="width: 15%">Title</th>
                <th style="width: 75%">Description</th>
                <th style="width: 10%">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for text_data_generation_task in user_text_data_generation_tasks %}
            <tr>
                {% if text_data_generation_task.status == "completed" %}
                <td><a href="/DoDataGenerationTask/ViewMyAnnotations?task_id={{text_data_generation_task.id}}">{{text_data_generation_task.title}}</a></td>
                {% else %}
                <td><a href="/DoDataGenerationTask/Task?task_id={{text_data_generation_task.id}}">{{text_data_generation_task.title}}</a></td>
                {% endif %}
                {% if text_data_generation_task.description|length > 140 %}
                <td>
                    <style>
                        #more{{text_data_generation_task.id}} {display: none;}
                    </style>
                    <p>{{text_data_generation_task.description1}}
                        <span id="dots{{text_data_generation_task.id}}">...</span>
                        <span id="more{{text_data_generation_task.id}}">{{text_data_generation_task.description2}}</span>
                    </p>
                    <button class="btn btn-info" onclick="myFunction({{text_data_generation_task.id}})" id="myBtn{{text_data_generation_task.id}}">Read more</button>
                </td>
                {% else %}
                <td>{{text_data_generation_task.description}}</td>
                {% endif %}
                {% if text_data_generation_task.status == "new" %}
                <td><span class="badge badge-primary">New</span></td>
                {% elif text_data_generation_task.status == "inprogress" %}
                <td><span class="badge badge-success">In Progress</span></td>
                {% elif text_data_generation_task.status == "completed" %}
                <td><span class="badge badge-danger">Completed</span></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

<br>
{% if user_image_data_generation_tasks|length > 0 %}
<div class="card">
    <div class="card-header">Image Data Generation Tasks</div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th style="width: 15%">Title</th>
                <th style="width: 75%">Description</th>
                <th style="width: 10%">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for image_data_generation_task in user_image_data_generation_tasks %}
            <tr>
                {% if image_data_generation_task.status == "completed" %}
                <td><a href="/DoImageDataGenerationTask/ViewMyAnnotations?task_id={{image_data_generation_task.id}}">{{image_data_generation_task.title}}</a></td>
                {% else %}
                <td><a href="/DoImageDataGenerationTask/Task?task_id={{image_data_generation_task.id}}">{{image_data_generation_task.title}}</a></td>
                {% endif %}
                {% if image_data_generation_task.description|length > 140 %}
                <td>
                    <style>
                        #more{{image_data_generation_task.id}} {display: none;}
                    </style>
                    <p>{{image_data_generation_task.description1}}
                        <span id="dots{{image_data_generation_task.id}}">...</span>
                        <span id="more{{image_data_generation_task.id}}">{{image_data_generation_task.description2}}</span>
                    </p>
                    <button class="btn btn-info" onclick="myFunction({{image_data_generation_task.id}})" id="myBtn{{image_data_generation_task.id}}">Read more</button>
                </td>
                {% else %}
                <td>{{image_data_generation_task.description}}</td>
                {% endif %}
                {% if image_data_generation_task.status == "new" %}
                <td><span class="badge badge-primary">New</span></td>
                {% elif image_data_generation_task.status == "inprogress" %}
                <td><span class="badge badge-success">In Progress</span></td>
                {% elif image_data_generation_task.status == "completed" %}
                <td><span class="badge badge-danger">Completed</span></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
<script>
function myFunction(taskid) {
   var taskidstr=taskid.toString()
  var dots = document.getElementById("dots".concat(taskidstr));
  var moreText = document.getElementById("more".concat(taskidstr));
  var btnText = document.getElementById("myBtn".concat(taskidstr));

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
}
</script>
{% endblock %}