{% extends "layout.html" %}
{% load static %}
{% block title %}Annotation task{% endblock %}
{% block style %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="shortcut icon" type="image/png" href="favicon.png">
  <style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
{% endblock %}
{% block body %}
<br>
{% if user_text_data_annotation_tasks|length > 0 %}
<div class="container">
    <div class="card">
        <div class="card-header">Text Data Annotation Tasks</div>
        <div class="card-body">
        <table class="table table-hover">
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            {% for text_data_annotation_task in user_text_data_annotation_tasks %}
            <tr>
                <td><a href="/DoTextDataAnnotationTask/Task?task_id={{text_data_annotation_task.id}}">{{text_data_annotation_task.title}}</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td><a href="#">test</a></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endif %}

<br>
{% if user_image_data_annotation_tasks|length > 0 %}
<div class="container">
    <div class="card">
        <div class="card-header">Image Data Annotation Tasks</div>
        <div class="card-body">
        <table class="table table-hover">
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            {% for image_data_annotation_task in user_image_data_annotation_tasks %}
            <tr>
                <td><a href="/DoDataAnnotationTask/Task?task_id={{image_data_annotation_task.id}}">{{image_data_annotation_task.title}}</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td><a href="#">test</a></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endif %}

<br>
{% if user_text_data_generation_tasks|length > 0 %}
<div class="container">
    <div class="card">
        <div class="card-header">Text Data Generation Tasks</div>
        <div class="card-body">
        <table class="table table-hover">
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            {% for text_data_generation_task in user_text_data_generation_tasks %}
            <tr>
                <td><a href="/DoDataGenerationTask/Task?task_id={{text_data_generation_task.id}}">{{text_data_generation_task.title}}</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td><a href="#">test</a></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endif %}

<br>
{% if user_image_data_generation_tasks|length > 0 %}
<div class="container">
    <div class="card">
        <div class="card-header">Image Data Generation Tasks</div>
        <div class="card-body">
        <table class="table table-hover">
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            {% for image_data_generation_task in user_image_data_generation_tasks %}
            <tr>
                <td><a href="/DoImageDataGenerationTask/Task?task_id={{image_data_generation_task.id}}">{{image_data_generation_task.title}}</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td><a href="#">test</a></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}