{% extends 'layout.html' %}
{% load static %}

{% block title %} profile list | {% endblock %}

{% block style %}
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
{% endblock %}

{% block body %}
  
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">USERS</h5>
        <div class="row">
            {% if profiles %}
            {% for user in profiles %}
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{{user.avatar.url}}" alt="card image"></p>
                                    <h4 class="card-title">{{user.first_name}} {{user.last_name}}</h4>
                                    {% if user.is_author %}
                                    <p class="card-text">Author in {{user.field}} field</p>
                                    {% endif %}
                                    {% if user.is_contributor %}
                                    <p class="card-text">Contributor in {{user.field}} field</p>
                                    {% endif %}
                                    <a href="{% url 'UserManagement:view_profile' user.id %}" ><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{user.first_name}} {{user.last_name}}</h4>
                                    <p class="card-text">{{user.bio}}</p>
                                    <p class="card-text"><i class="fa fa-envelope" style="padding-right: 5px;"></i>{{user.email}}</p>
                                    <a href="{% url 'UserManagement:view_profile' user.id %}" ><i class="fa fa-eye"></i></a>
                                    <a href="{% url 'UserManagement:delete_profile' user.id %}" ><i class="fa fa-trash" style="color: red;"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- ./Team member -->

        </div>
    </div>
    {% else %}
        <p>Sorry, No matches found</p>
    {% endif %}
</section>

{% endblock %}


