{% extends 'layout.html' %}

{% block body %}

    <div class="row">
        <div class="col-md">
            <h4>Users</h4>
        </div>
        <div class="card card-body">
            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Field</th>
                </tr>
                {% for i in profiles %}
                    <tr>
                        <td>{{i.first_name}} {{i.last_name}}</td>
                        <td>{% if i.is_author %} Author <br/> {% elif i.is_contributor %} Contributor {% endif %}</td>
                        <td>{{i.field}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}