{% extends "layout.html" %}
{% load static %}

{% block title %}Password reset | {{ super }}{% endblock %}

{% block style %}
<link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet"
      xmlns="http://www.w3.org/1999/html">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body %}
	<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="{% static 'img/resetpw.png' %}" alt="login" class="login-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
                <!--img src="assets/images/logo.svg" alt="logo" class="logo"-->
              </div>
              <p class="login-card-description">Reset your password</p>
              <p> Enter your email address here. We will send instructions to reset password.</p>
              <form method="POST" action="">
                {% csrf_token %}
                <div class="i">
                  <i class="fas fa-envelope"></i>
                </div>
                {{ form.email }}
                <br>
                  <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Send email">
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

{% endblock %}