{% extends 'layout.html' %}
{% load static %}
{% block body %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'assets/css/circle/search.css' %}">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .card {
        width: 50%;
        height:50%;
        border: 2px;
    }
    .container{
       justify-items: center;
    }
</style>
{% endblock %}

  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>




{% endblock %}