
<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>Dodataannotationtask administration | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">



    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" dashboard app-DoDataAnnotationTask"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/admin/">Crowd Sourced Data Annotation Platform</a></h1>

        </div>
        
        

        
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo;

Dodataannotationtask

</div>

    

    
        
    

    <!-- Content -->
    <div id="content" class="colMS">
        
        <h1>Dodataannotationtask administration</h1>
        
<div id="content-main">


    
        <div class="app-DoDataAnnotationTask module">
        <table>
        <caption>
            <a href="/admin/DoDataAnnotationTask/" class="section" title="Models in the Dodataannotationtask application">Dodataannotationtask</a>
        </caption>
        
            <tr class="model-dataannotationresult">
            
                <th scope="row"><a href="/admin/DoDataAnnotationTask/dataannotationresult/">Data annotation results</a></th>
            

            
                <td><a href="/admin/DoDataAnnotationTask/dataannotationresult/add/" class="addlink">Add</a></td>
            

            
                
                <td><a href="/admin/DoDataAnnotationTask/dataannotationresult/" class="changelink">Change</a></td>
                
            
            </tr>
        
        </table>
        </div>
    

</div>

        
        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
