<!DOCTYPE html>
<html lang="en-us" >
<head>
    <title>My Tasks</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">
</head>
<body class=" dashboard" data-admin-utc-offset="0">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name">Crowd Sourced Data Annotation Platform</h1>
        </div>
    </div>
    <!-- END Header -->
    <div class="breadcrumbs">
        My Tasks
    </div>
    <!-- Content -->
    <div id="content" class="colMS">
        <h1><strong>My Tasks</strong></h1>
        <h1><strong>user_id : {{user_id}}</strong></h1>
        <div id="content-main">
            <div class="app-auth module">
                <table>
                    <caption>
                        <a href="/DoDataAnnotationTask/">Data Annotation Tasks</a>
                    </caption>
                    {% for data_annotation_task in data_annotation_tasks %}
                    <tr class="{{data_annotation_task.id}}">
                        <th scope="row"><a href="/DoDataAnnotationTask/Task?task_id={{data_annotation_task.id}}">{{data_annotation_task.Title}}</a></th>
                        <td></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="app-CreateDataAnnotationTask module">
                <table>
                    <caption>
                        <a href="/DoDataGenerationTask/">Data Generation Tasks</a>
                    </caption>
                    {% for data_generation_task in data_generation_tasks %}
                    <tr class="{{data_generation_task.id}}">
                        <th scope="row"><a href="/DoDataGenerationTask/Task?task_id={{data_generation_task.id}}">{{data_generation_task.Title}}</a></th>
                        <td></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <br class="clear">
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->
</body>
</html>




{% load static %}
{% load auth_extras %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{% block title %}CDAP{% endblock %}</title>

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONTS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cousine'
          rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{% static 'css/global.css' %}">

    <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript"
            src="{% static 'js/autogrow.js' %}"> </script>
    <script type="text/javascript" src="{% static 'js/global.js' %}"></script>
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script-->

</head>
<body>
<header class="circle--header">
    <div class="bounds">
        <div class="circle--fluid">
            <div class="circle--fluid--cell">
                <h1 class="hide-text circle--logo">
                </h1>
            </div>
            <div class="circle--fluid--cell circle--fluid--primary">
                <nav>
                    <ul class="circle--inline">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'UserManagement:profile' %}">Profile</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="circle--fluid--cell circle--fluid--secondary">
                <nav>
                    <ul class="circle--inline">
                        {% if not user.is_authenticated %}
                            <li><a href=" {% url 'UserManagement:search' %}">Search</a></li>
                            <li><a href="{% url 'UserManagement:sign_up' %}">Sign Up</a></li>
                            <li><a href="{% url 'UserManagement:sign_in' %}">Sign
                                In</a></li>
                        {% elif not user|has_group:"admin" %}

                            <svg class="bi bi-bell" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 16a2 2 0 002-2H6a2 2 0 002 2z"/>
                            <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 004 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 00-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 111.99 0A5.002 5.002 0 0113 6c0 .88.32 4.2 1.22 6z" clip-rule="evenodd"/>
                            </svg>
                            <li><a href=" {% url 'UserManagement:search' %}">Search</a></li>
                            <li><a href=#>My tasks</a></li>
                                {% if user.is_authenticated and user.is_author %}
                                    <li><a href=#>Add task</a></li>
                                {% endif %}
                        {% endif %}
                        {% if user|has_group:"admin" %}
                                <li><a href = "{% url 'UserManagement:profile_list' %}">View users</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'UserManagement:sign_out' %}">Sign Out</a></li>
                        {% endif %}


                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="bounds circle--page">
    {% if messages %}
        <ul class="messages centered grid-50">
            {% for message in messages %}
                <li style {% if message.tags %}
                    class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% block body %}{% endblock %}
</div>
</body>
</html>










<div class="w3-twothird">
    {% if all_author_tasks %}
    {% for i in all_author_tasks %}
    <div class="w3-container w3-card w3-white w3-margin-bottom" style="width:100%">
        <div class="w3-container"><br>
        <h4>{{i.title}}</h4>
        </div><br>
        <div class="w3-container"><br>
        <h6>Descrition : {{i.description}}</h6>
        </div><br>
        <div class="w3-container">
        {% if i.taskType == "ImageAnno" %}
        <h5>Data type : Image</h5>
        {% elif i.taskType == "TextAnno" %}
        <h5>Data type : Text</h5>
        {% endif %}
        </div><br>
        {% if i.taskType == "ImageAnno" %}
        <button><a href="/ImageDataAnalyse/Analyse/?Task_ID == {{i.id}}">Image Task analysis</a></button>
        {% endif %}
        {% if i.taskType == "TextAnno" %}
            <button><a href="/TextDataAnalyse/Analyse/?Task_ID == {{i.id}}">Text Task analysis</a></button>
        {% endif %}
        <button><a href="{% url 'UserManagement:delete_task' i.id %}">Delete</a></button>
        <button><a href="/ResultAnalyse/Rank/?Task_ID=={{i.id}}">Test analysis</a></button><br>
    </div>
    </div>
    {% endfor %}
    {% else %}
    <p>You don't have added tasks !</p>
    {% comment %} <button type="button" class="btn btn-outline-success" ><a href="#" >Add image annotation Task</a></button> 
    <button type="button" class="btn btn-outline-success" ><a href="#" >Add text annotation Task</a></button>  {% endcomment %}
    </div>
    {% endif %}
    </div>

