{% extends "layout.html" %}
{% load static %}

{% block title %}Profile | {{ user }} {{ super }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
{% endblock %}

{%  block title %}View profile {% endblock %}

{% block body %}

<div class="w3-content w3-margin-top" style="max-width:1400px;">
<h1>{{profile.first_name}} {{profile.last_name}}</h1>
  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="{{profile.avatar.url}}" style="width:400px; height:400px; size: relative; border-radius:50%; max-width:100%; text-align: center;" alt="">
        </div><br>
        <div class="w3-container">
            {% if profile.is_author %}
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-black"></i>Task Author</p>
          {% endif %}
            {% if profile.is_contributor %}
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-black"></i>Task Contributor</p>
          {% endif %}
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-black"></i>{{profile.country}}</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-black"></i>{{profile.email}}</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-black"></i>Rating</b></p>
          <p>1.2k</p>
          <a href="rating.html"></a>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-black" style="width:90%">90%</div>
          </div><br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Completed Tasks</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Task1</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>date</h6>
          <p>Description</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Task2</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>year</h6>
          <p>description</p>
          <hr>
        </div>

      </div>

    </div>

  </div>

</div>
{% endblock %}
