<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Task Title : {{task_object.Title}}</h3>
    <h3>Task Description : {{task_object.Description}}</h3>
    {% if data_instance_available %}
        <h4>Data Instance : {{ data_instance.DataInstance }}</h4>
        <form action="Task" method="POST">
            {% csrf_token %}
            <input type="text"  name="generated_data" placeholder="Enter your answer here"><br>
            <input type="hidden" name="DataInstance" value="{{data_instance.DataInstance}}">
            <input type="hidden" name="task_id" value="{{task_id}}">
            <input type="hidden" name="user_id" value="{{user_id}}"><br>
            <input type="Submit" value="Submit Data Generation">
        </form>
    {% else %}
        <h2>Congratulations!</h2> <h3><br>All the data instances in this task has been completed.Try another task</h3>
    {% endif %}
    <br><a href="/DoDataGenerationTask/ViewMyGenerations?task_id={{task_id}}">View My Contributions</a><br><br>
</body>
</html>

