{% load static %}
{% load auth_extras %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{% block title %}CDAP{% endblock %}</title>

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block style %}{% endblock %}

    <!-- FONTS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
   
	<!--link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet"-->
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <!--link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500' rel='stylesheet' type='text/css'-->
    <!--link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'-->

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"-->
    
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>

    
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">CDAP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'UserManagement:search' %}">Search</a>
            </li>
            {% if not user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'UserManagement:sign_up' %}">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'UserManagement:sign_in' %}">Sign In</a>
            </li>
            {% endif %}
            {% if user|has_group:"crowd_user" %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'UserManagement:profile' %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'UserManagement:edit_profile' %}">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'UserManagement:change_password' %}">Change Password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/UserManagement/MyTasks/">MyTasks</a>
            </li>

            {% endif %}
            {% if user|has_group:"admin" %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'UserManagement:profile_list' %}">View users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'UserManagement:profile_list' %}">View tasks</a>
            </li>
            {% endif %}

            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'UserManagement:sign_out' %}">Sign Out</a>
            </li>
            {% endif %}
            </ul>
  </div>
</nav>
<div class="bounds circle--page">
    {% if messages %}
        <ul class="messages centered grid-50">
            {% for message in messages %}
                <li style {% if message.tags %}
                    class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% block body %}{% endblock %}
</div>
</body>
</html>