<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Task Title : {{taskobject.Title}}</h3>
    <h3>Task Description : {{taskobject.Description}}</h3>
    <h4>Data Instance</h4>
    {% load static %}
    <img src="{{ data_instance.DataInstance.url }}" alt="{{ data_instance.DataInstance.url }}"><br>
    <h4>Data Classes</h4>

<form action="Task" method="POST">
    {% csrf_token %}
    {% for dataclass in dataclasses %}
    <input type="radio" id="{{dataclass.ClassName}}" name="data_class" value="{{dataclass}}">
    <lable for="{{dataclass.ClassName}}">{{dataclass.ClassName}}</lable><br>
    {% endfor %}
    <input type="hidden" name="DataInstance" value="{{data_instance.DataInstance}}">
    <input type="hidden" name="task_id" value="{{task_id}}">
    <input type="hidden" name="user_id" value="{{user_id}}">
    <input type="Submit" value="Submit Data Annotation">
</form>


</body>
</html>

